.sidebar{
    flex: 0.35;
}

.sidebarHeader{
    display: flex;
    justify-content: space-between;
    border-right: 1px solid lightgray;
}

.sidebarHeaderRight{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 10vw;
}