.sidebar {
    display: flex;
    flex-direction: column;
    flex: 0.35;

}

.sidebarSearch {
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    height: 39px;
    padding: 10px;
}

.sidebarSearchContainer{
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 35px;
    border-radius: 20px;
}

.sidebarSearchContainer > span{
    color: gray;
    padding: 10px;
    
}

.sidebarSearchContainer > input{
    border: none;
    margin-left: 10px;
}

.sidebarHeader {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-right: 1px solid lightgray;
}

.sidebarHeaderRight {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 10vw;
}

.sidebarHeaderRight > .MuiSvgIcon-root {
    margin-right: 2vw;
    font-size: 24px !important;

}

.sidebarChats{
    overflow: scroll;
    flex:1;
    background-color: white;
}