.login{
    height: 100vh;
    width: 100vh;
    display: grid;
    place-items: center;
}

.loginContainer{
    padding: 100px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px;
}

.loginContainer > img{
    object-fit: contain;
    height: 100px;
    margin-bottom: 40px;
}

.loginContainer > button{
    margin-top: 50px;
    text-transform: inherit !important;
    background-color: #0a8d48 !important;
    color: #fff;
}

